/* Places I've Been */

#map h2 {
  padding-left: 3rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

#map {
  text-align: center;
  padding-bottom: 3rem;
}

#map figcaption {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.img-map {
  width: 100%;
}

.map-text {
  padding-top: 1rem;
}

/* Food I can't eat */

#food {
  text-align: center;
}

#food h2 {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.carousel-inner {
  width: 100%;
  max-width: 100%;
  /* height: 600px; */
  /* height: 70vh; */
}

.carousel-image {
  margin: 20px;
  width: auto;
  /* height: 100%; */
  height: 70vh;
  max-width: 100%;
}

#food .lead {
  margin-bottom: 0;
}

.allergy-text {
  height: 200px;
  width: 200px;
  margin: auto;
  overflow: scroll;
}
